# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs
name: Node.js CI (pnpm)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4
    
    # Needs a specific step to install pnpm first
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9 # Matches your engine requirement
        
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - run: pnpm install
    - run: pnpm run build
    - run: pnpm test
      env:
        PORT: 3000
        MONGODB_URI: "mongodb://localhost:27017/dummy"
        MONGODB_URI_END: "mongodb://localhost:27017/dummy"
        CORE_API_KEY: "dummy-key"
        ENCRYPTION_KEY: "dummy-key-for-smoke-test-only"
