name: Generate Release

on:
  push:
    tags:
      - "v*" # Triggers whenever you push a tag like v1.1.0

jobs:
  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required permission to create the release on your behalf

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to accurately generate the changelog from commit history

      - name: Generate Auto Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
          draft: false
          prerelease: false
